/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 14/04/2015, 21:51:15
    Author     : root
*/
h3 {
    font-size: 18pt; 
    color: #3ef6f8; 
    font-family: arial; 
    background-color: #5fea21
}
h2 {
    font-size: 76pt;
    background-color: yellow;
}
